body {
    display: flex;
    font-family:monospace;
    text-align:justify ;
    background-color: rgb(255, 255, 255);
    margin: 300px; 
    height: 350px;
    width: 500px;
}

#submit {
    height: 25px;
    width: 54px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    
}

#stylesheet {
    padding: 15px;
        
}
